/** 
===== Material Colors
**/

@import "utils/colors";

/** 
===== Color Config 
**/

$color-1: $red-200;
$color-2: #000;
$color-3: red;

/** 
===== Font Config
**/

$font-1: 'Verdana';
$font-2: 'Arial';